#name {
    /* border: 2px solid red; */
    margin-right: 100px;
    color: white;
}
.welcome {
    color: white;
}

.caution {
    color: red;
    font-size: small;
}

.mydropdown{
    margin-right: 200px;
}
#category{
    margin-right: 500px;
}
.showIncomeExpense{
    margin-right: 400px;
}