#name {
    /* border: 2px solid red; */
    margin-right: 100px;
    color: white;
}
.welcome {
    color: white;
}

#customColor{
background-color: #737980
}


.caution {
    color: red;
    font-size: small;
}

.mydropdown{
    margin-right: 200px;
}
#category{
    margin-right: 500px;
}
.showIncomeExpense{
    margin-right: 400px;
}
#summary{
    padding-left: 200px;
}

#summary:hover {
    color: red;
    font-size: 25px;   
}

.logo {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 5px;
}